.DS_Store
._.DS_Store
.bash_history
.bash_profile
.bash_profileev
.bashrc
.cache/
.chainer/
.cupy/
.gitconfig
.nv/
.pyenv/
.python_history
.ssh/
.vim/
.viminfo
.vimrc
.wget-hsts
smt/
src/
.subversion/
.selected_editor
create_data
reference
DUC
DUC
.DS_Store
._.DS_Store
._DUC
en_data
__pycache__/
*.model
train_data/*
